<b>
<p>---------------------------------------</p>
<p><pre>|                           |</pre></p>
<p><pre>|                          <% if (@guesses > 0) %> <%="0"%><% end %></pre></p>
<p><pre>|                   <% if (@guesses > 1) %><%="--------I"%><% end %><% if (@guesses > 2) %><%="--------"%><% end %></pre></p>
<p><pre>|                           <% if (@guesses > 3) %><%="I"%><% end %></pre></p>
<p><pre>|                          <% if (@guesses > 3) %><%="/"%><% end %><% if (@guesses > 4)%><%="  \\"%><% end %></pre></p>
<p><pre>|                        <% if (@guesses > 3) %><%="/"%><% end %><% if (@guesses > 4)%><%="      \\"%><% end %></pre></p>
</b>
